{% extends('base.html.twig') %}

{% block body %}
    <h1>  {{ post.title  }} </h1>
  <em>{{ post.category }}</em>
    <<h3> Image </h3>
    <img src="{{ '/uploads/' ~ post.image }}" alt="image">
{% endblock %}
